ul {
  list-style: none;
}

.list_item {
  display: flex;
  margin: 15px auto;

  &_cover {
    width: 120px;
    margin-right: 30px;
    flex-shrink: 0;

    img {
      max-width: 100%;
    }
  }

  &_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: flex-start;
  }

  h4 {
    cursor: pointer;
  }

  &_price {
    font-size: 1.4rem;
  }
}
